<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.checkin.mapper.HolidayMapper">
    <update id="update" parameterType="com.example.checkin.model.request.HolidayRequest">
        UPDATE holiday
        SET
            name = #{name},
            date = #{date},
            note = #{note},
            status = #{status}
        WHERE id = #{id}::uuid
    </update>

    <select id="get" parameterType="com.example.checkin.model.request.HolidayRequest"
            resultType="com.example.checkin.model.response.HolidayResponse">
        SELECT *
        FROM holiday
        <where>
            <if test="name != null and name !=''">
                and "name" ILIKE CONCAT('%' || #{name} || '%')
            </if>
            <if test="status != null and status !=''">
                and "status" = #{status}
            </if>
            <if test="date != null and date !=''">
                and "date" = #{date}
            </if>
        </where>

        order by code ASC
        <if test="limit > 0">
            OFFSET (#{page} - 1) * #{limit} FETCH NEXT  #{limit} ROWS ONLY
        </if>
    </select>
    <select id="create" parameterType="com.example.checkin.model.request.HolidayRequest"
            resultType="com.example.checkin.model.response.HolidayResponse">
        INSERT INTO holiday(
            code,
            name,
            date,
            note,
            status
        )VALUES (
            #{code},
            #{name},
            #{date},
            #{note},
            #{status}
        ) RETURNING *;
    </select>
    <select id="countHoliday" parameterType="com.example.checkin.model.request.HolidayRequest"
            resultType="java.lang.Integer">
        SELECT COUNT(*) FROM holiday
        <where>
            <if test="name != null and name !=''">
                and "name" ILIKE CONCAT('%' || #{name} || '%')
            </if>
        </where>
    </select>
    <select id="getCode" resultType="java.lang.Integer">
        SELECT COUNT(*) + 1 FROM holiday
    </select>
</mapper>