<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.checkin.mapper.LanguageMapper">
    <update id="update" parameterType="com.example.checkin.model.request.LanguageRequest">
        UPDATE language
        SET
            default_language = #{defaultLanguage},
            support_language_id = #{supportLanguageId},
            ui_language = #{uiLanguage},
            multi_language = #{multiLanguage}
        WHERE id = #{id}::uuid
    </update>

    <select id="get" parameterType="com.example.checkin.model.request.LanguageRequest"
            resultType="com.example.checkin.model.response.LanguageResponse">
        SELECT *
        FROM language
    </select>
</mapper>