<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.checkin.mapper.MenuMapper">

    <update id="update" parameterType="com.example.checkin.model.request.MenuRequest">
        UPDATE menu
        SET "name" = #{name},
            path = #{path},
            icon = #{icon},
            numerate = #{numerate},
            parent_id = #{parentId}
        WHERE id = #{id}::uuid
    </update>
    <delete id="delete" parameterType="com.example.checkin.model.request.MenuRequest">
        DELETE FROM menu
        WHERE id = #{id}::uuid
    </delete>
    <select id="get" parameterType="com.example.checkin.model.request.MenuRequest"
            resultType="com.example.checkin.model.response.MenuResponse">
        SELECT menu.*, user_account.name AS creatorName
        FROM menu
        LEFT JOIN user_account ON menu.creator::uuid = user_account.id
        <where>
            <if test="name != null and name !=''">
                and menu.name ILIKE CONCAT('%' || #{name} || '%')
            </if>
        </where>

        order by numerate ASC
        <if test="limit > 0">
            OFFSET (#{page} - 1) * #{limit} FETCH NEXT  #{limit} ROWS ONLY
        </if>
    </select>
    <select id="checkPathExisted" parameterType="com.example.checkin.model.request.MenuRequest"
            resultType="java.lang.Integer">
        SELECT COUNT(*) FROM menu
        WHERE path = #{path}
    </select>
    <select id="getMenuByRole" parameterType="com.example.checkin.model.request.MenuRequest"
            resultType="com.example.checkin.model.response.MenuResponse">
        SELECT menu.*, user_account.name AS creatorName
        FROM menu
        LEFT JOIN permission ON menu.id = permission.menu_id
        LEFT JOIN user_account ON menu.creator::uuid = user_account.id
        <where>
            <foreach collection="roleCode" item="item">
                permission.role_code = #{item}
            </foreach>
        </where>
        order by numerate ASC
    </select>
    <select id="countMenu" parameterType="com.example.checkin.model.request.MenuRequest"
            resultType="java.lang.Integer">
        SELECT COUNT(*) FROM menu
        <where>
            <if test="name != null and name !=''">
                and menu.name ILIKE CONCAT('%' || #{name} || '%')
            </if>
        </where>
    </select>
    <select id="create" parameterType="com.example.checkin.model.request.MenuRequest"
            resultType="com.example.checkin.model.response.MenuResponse">
        INSERT INTO menu(
            "name",
            path,
            icon,
            creator,
            numerate,
            parent_id
        )VALUES(
            #{name},
            #{path},
            #{icon},
            #{creator},
            #{numerate},
            #{parentId}
        ) RETURNING *
    </select>
    <select id="getAllForPerMission" resultType="com.example.checkin.model.response.MenuResponse">
        SELECT menu.*, user_account.name AS creatorName FROM menu
        LEFT JOIN user_account ON menu.creator::uuid = user_account.id
        ORDER BY menu.icon ASC
    </select>
</mapper>