<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.checkin.mapper.SuggestionMapper">
    <update id="update" parameterType="com.example.checkin.model.request.SuggestionRequest">
        UPDATE suggest
        SET
            suggestion = #{suggestion},
            reply = #{reply},
            status = #{status},
            note = #{note}
        WHERE id = #{id}::uuid
    </update>

    <select id="create" parameterType="com.example.checkin.model.request.SuggestionRequest"
            resultType="com.example.checkin.model.response.SuggestionResponse">
        INSERT INTO suggest(
            code,
            name,
            create_date,
            suggestion,
            reply,
            note,
            status,
            creator_id
        ) VALUES (
            #{code},
            #{name},
            NOW(),
            #{suggestion},
            #{reply},
            #{note},
            #{status},
            #{creatorId}
        ) RETURNING *;
    </select>
    <select id="get" parameterType="com.example.checkin.model.request.SuggestionRequest"
            resultType="com.example.checkin.model.response.SuggestionResponse">
        SELECT suggest.*,
                employee.name AS creator,
                employee.room AS room
        FROM suggest
        LEFT JOIN employee ON suggest.creator_id = employee.account_id
        <where>
            <if test="name != null and name !=''">
                and suggest.name ILIKE CONCAT('%' || #{name} || '%')
            </if>
            <if test="status != null and status !=''">
                and "status" = #{status}
            </if>
            <if test="creator != null and creator !=''">
                and employee.name = #{creator}
            </if>
            <if test="room != null and room !=''">
                and employee.room = #{room}
            </if>
            <if test="createDate != null and createDate !=''">
                and create_date = #{createDate}
            </if>
        </where>

        order by code ASC
        <if test="limit > 0">
            OFFSET (#{page} - 1) * #{limit} FETCH NEXT  #{limit} ROWS ONLY
        </if>
    </select>
    <select id="countSuggest" parameterType="com.example.checkin.model.request.SuggestionRequest"
            resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM suggest
        LEFT JOIN employee ON suggest.creator_id = employee.account_id

        <where>
            <if test="name != null and name !=''">
                and suggest.name ILIKE CONCAT('%' || #{name} || '%')
            </if>
            <if test="status != null and status !=''">
                and "status" = #{status}
            </if>
            <if test="creator != null and creator !=''">
                and employee.name = #{creator}
            </if>
            <if test="room != null and room !=''">
                and employee.room = #{room}
            </if>
            <if test="unit != null and unit !=''">
                and employee.unit = #{unit}
            </if>
            <if test="createDate != null and createDate !=''">
                and create_date = #{createDate}
            </if>
        </where>
    </select>
    <select id="getCode" resultType="java.lang.Integer">
        SELECT COUNT(*) + 1 FROM suggest
    </select>
    <select id="getReport" parameterType="com.example.checkin.model.request.SuggestionRequest"
            resultType="com.example.checkin.model.response.SuggestionResponse">
        SELECT COUNT(*) AS countSuggest,
            suggest.create_date AS createDate,
            suggest.status AS status,
            suggest.name AS name,
            employee.name AS creator,
            employee.room AS room,
            employee.unit AS unit
        FROM suggest
        LEFT JOIN employee ON suggest.creator_id = employee.account_id

        <where>
            <if test="name != null and name !=''">
                and suggest.name ILIKE CONCAT('%' || #{name} || '%')
            </if>
            <if test="status != null and status !=''">
                and "status" = #{status}
            </if>
            <if test="creator != null and creator !=''">
                and employee.name = #{creator}
            </if>
            <if test="room != null and room !=''">
                and employee.room = #{room}
            </if>
            <if test="unit != null and unit !=''">
                and employee.unit = #{unit}
            </if>
            <if test="createDate != null and createDate !=''">
                and create_date = #{createDate}
            </if>
        </where>
        GROUP BY suggest.name, suggest.create_date, suggest.status, employee.name, employee.room, employee.unit
        order by create_date ASC
        <if test="limit > 0">
            OFFSET (#{page} - 1) * #{limit} FETCH NEXT  #{limit} ROWS ONLY
        </if>
    </select>
</mapper>