<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.checkin.mapper.UnitMapper">
    <update id="update" parameterType="com.example.checkin.model.request.UnitRequest">
        UPDATE unit
        SET
            name = #{name},
            branch = #{branch},
            note = #{note},
            status = #{status}
        WHERE id = #{id}::uuid
    </update>

    <select id="get" parameterType="com.example.checkin.model.request.UnitRequest"
            resultType="com.example.checkin.model.response.UnitResponse">
        SELECT *
        FROM unit
        <where>
            <if test="name != null and name !=''">
                and "name" ILIKE CONCAT('%' || #{name} || '%')
            </if>
            <if test="status != null and status !=''">
                and "status" = #{status}
            </if>
        </where>

        order by code ASC
        <if test="limit > 0">
            OFFSET (#{page} - 1) * #{limit} FETCH NEXT  #{limit} ROWS ONLY
        </if>
    </select>
    <select id="create" parameterType="com.example.checkin.model.request.UnitRequest"
            resultType="com.example.checkin.model.response.UnitResponse">
        INSERT INTO unit(
            code,
            name,
            branch,
            note,
            status
        )VALUES (
            #{code},
            #{name},
            #{branch},
            #{note},
            #{status}
        ) RETURNING *;
    </select>
    <select id="countUnit" parameterType="com.example.checkin.model.request.UnitRequest"
            resultType="java.lang.Integer">
        SELECT COUNT(*) FROM unit
        <where>
            <if test="name != null and name !=''">
                and "name" ILIKE CONCAT('%' || #{name} || '%')
            </if>
        </where>
    </select>
    <select id="getCode" resultType="java.lang.Integer">
        SELECT COUNT(*) + 1 FROM unit
    </select>
</mapper>